body {
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	
	background-color: #000000;
	background-image: url("../img/background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.inner-page{
	color: #000000;

	background-color: #f8f5f2;
	background-image: url("../img/index-columns-bg.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.button {
	font: inherit;

	text-align: center;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;

	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}

.main-navigation {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #313131;
}

.features-list {
	list-style: none;
}

.feature-item {
	text-align: center;
}

.feature-item h3{
	font-size: 30px;
	line-height: 42px;
}

.index-columns {
	color: #000000;

	background-color: #f8f5f2;
	background-image: url("../img/index-columns-bg.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.index-columns h2 {
	font-size: 30px;
	line-height: 42px;
}

.news-list {
	list-style: none;
}

.news-list time {
	text-transform: none;
}

.gallery-content {
	background-color: #e5e5e5;
	border: 7px solid #ffffff;
}

.registration-form input {
	font: inherit;

	background-color: transparent;
	border: 2px solid #000000;
}

.page-title {
	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs {
	list-style: none;
}

.breadcrumbs a {
	color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}

.breadcrumbs-current {
	color: #aba9a7;
}

.filters fieldset {
	border: none;
}

.filters legend {
	font-size: 24px;
	line-height: 30px;
}

.filter-list {
	list-style: none;
	line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #663d15;
}

.filter-input:disabled + label {
	color: #000000;
	opacity: 0.5;
}

.products-list {
	list-style: none;
}

.products-list-item {
	color: #000000;

	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.products-list-item:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.products-list-item a {
	color: #000000;
	font-size: 14px;
	line-height: 18px;
}

.product-category {
	text-transform: none;
}

.product-price {
	font-size: 14px;
	line-height: 18px;
	text-align: center;

	background-color: #e5e5e5;
}

.button.price-button {
	font-size: 14px;
	line-height: 18px;
}

.registration-form input:focus {
	border: 2px solid #663d15;
}

.pagination {
	list-style: none;
}

.pagination a {
	color: #ffffff;
	background-color: #000000;
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
	color: #ffffff;
	background-color: #663d15;
}

.pagination-current a {
	color: #000000;
	background-color: #ffffff;
}

.pagination-current a:hover,
.pagination a:focus,
.pagination a:active {
	color: #000000;
	background-color: #ffffff;
}

.product-code {
	color: #aeaeae;
	text-align: right;
}

.product-info h3 {
	font-size: 24px;
	line-height: 30px;
}

.produc-complectation {
	margin: 0;
	padding: 0;
	list-style: none;
}

.product-gallery ul {
	list-style: none;
}

.product-gallery li {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-image {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.main-footer {
	color: #ffffff;

	background-color: #202020;
	border-image: url("../img/footer-bg.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.footer-address a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-address a:hover, 
.footer-address a:focus {
	text-decoration: none;
}

.footer-social {
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	color: #ffffff;
}

.footer-copyrite {
	text-align: center;
}

.footer-copyrite .button:hover,
.footer-copyrite .button:focus {
	color: #000000;

	background-color: #ffffff;
}

.modal {
	color: #000000;

	background-color: #f8f3f0;
	background-image: url("../img/index-columns-bg.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.modal h2 {
	font-size: 30px;
	line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	font: inherit;
	color: #000000;
	text-transform: uppercase;

	background-color: transparent;
	border: 2px solid #000000;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
	border-color: #663d15;
}

.restore {
	color: #000000;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	text-decoration: none;
}

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.main-header-logo {
	width: 371px;
	height: 155px;
	order: 2;
}

.inner-page .main-header {
	min-height: 70px;
	background-color: #000000;
}

.inner-page .main-navigation {
	flex-direction: flex-start;
	flex-direction: row;
	min-height: 70px;
}

.main-header {
	min-height: 290px;
	margin-bottom: 75px;
}

.inner-page .main-header-logo {
	width: 111px;
	height: 24px;
	padding: 23px 20px;
	order: 0;
}

.site-navigation {
	width: 620px;
	margin: 0;
	padding: 0;

	list-style: none;
	min-height: 70px;
}

.inner-page .user-navigation {
	margin-left: auto;
}

.page-title {
	margin: 0;
	padding: 0;
	min-height: 42px;

	margin-bottom: 15px;
}

.breadcrumbs {
	min-height: 24px;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

.filters {
	min-height: 600px;
	width: 220px;
}

.products {
	min-height: 600px;
	width: 700px;
	margin-bottom: 45px;
}

.user-navigation {
	width: 140px;
	margin: 0;
	padding: 0;

	list-style: none;
	min-height: 70px;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 60px;
	background-color: #000000;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.features {
	margin-bottom: 80px;
}

.features-list {
	display: flex;
	min-height: 170px;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.feature-item {
	width: 300px;
	min-height: 170px;
}

.index-columns {
	display: flex;
	justify-content: space-between;
	padding: 50px 80px;
	margin-bottom: 35px;
}

.news {
	min-height: 315px;
	width: 380px;
}

.gallery {
	min-height: 315px;
	width: 380px;
}

.news-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.contacts {
	min-height: 285px;
	width: 380px;
}

.appointment {
	min-height: 335px;
	width: 380px;
}

.main-footer {
	min-height: 195px;
	margin-top: 65px;
	padding: 60px 0;
}

.footer-address {
	margin: 0;
	margin-right: 80px;
	padding: 0;

	width: 320px;
	min-height: 100px;
}

.footer-social {
	width: 140px;
	min-height: 100px;
}

.footer-social p {
	margin: 0;
	padding: 0;
}

.social-links {
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-copyrite {
	width: 140px;
	min-height: 100px;
	margin: 0;
	padding: 0;
	margin-left: auto;
}

.main-footer .container {
	display: flex;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.products-list {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
}

.products-list-item {
	width: 220px;
	min-height: 290px;
	margin-right: 20px;
	margin-bottom: 20px;

	background-color: transparent;
	box-shadow: 0 0 0 2px purple;
}

.products-list-item:nth-child(3n) {
	margin-right: 0;
}

.pagination {
	margin: 0;
	padding: 0;
	min-height: 47px;
}

.inner-page .main-footer {
	margin-top: 45px;
}

/*********************/

.product-gallery {
	width: 460px;
	min-height: 670px;
}

.product-info {
	padding-top: 25px;
	width: 400px;
	min-height: 670px;
}

.preview-images {
	display: flex;
	margin: 0;
	padding: 0;
	min-height: 150px;
}

.preview-images li {
	width: 140px;
	margin-right: 20px;
}

.preview-images li:nth-child(3n) {
	margin-right: 0;
}

.product-info h3 {
	min-height: 27px;
	margin: 0;
	padding: 0;
	margin-top: 60px;
}